@import "@assets/index.scss";

header {
  position: fixed;
  top: 0;
  left: 0;

  z-index: 10;

  .container {
    flex-direction: row;
    align-items: center;
  }

  width: 100vw;
  height: 60px;

  background-color: $background;

  .logo {
    // font-size: 28px;
    font-size: calc(20px + (5 + 5 * 0.7) * (100vw - 320px) / 1336);

    font-weight: 700;

    color: #eee;
  }
}
